@use '../abstracts' as *;
@use '../components/01-atoms/button' as button;
@use '../base/fonts' as font;

// /********************************
// 	FORMS
// ********************************/

input.n1, input.CI1, .F1, .bf-phone-fld-wrp.l1{
    border-top-width: 0!important;
    border-left-width: 0!important;
    border-right-width: 0!important;
}

:is(a, button, input, textarea, summary):focus-visible {
    outline: 0;
}

form .CN1 {
	@include create-mq($md-width) {
		grid-template-columns: 200px 400px;
	}
}

label {
	margin-bottom: 31px;
}

.btcd-fld-itm {
    margin-bottom: 20px;
	@include create-mq($md-width) {
		margin-bottom: 65px;
	}
}

.bf-req-smbl {
    color: swatch('Red')!important;
}

textarea {
    height: 162px!important;
	@include create-mq($md-width) {
		height: 277px;
	}
}

body:not(.wp-admin) main .bf-err-txt {
    font-size: 1rem!important;
}
