@use '../../abstracts' as *;
@use '../../base/fonts' as font;
@use '../01-atoms/button' as button;
@use "sass:meta";
@use "sass:map";


$menuHeight: (
  'sm': map.get($headerHeight, 'sm'),
  'lg': map.get($headerHeight, 'lg'),
  'scroll': map.get($headerHeight, 'scroll') // 'lg': map.get($headerHeight, 'lg') + map.get($utilityHeight, 'lg'),
);

/********************************
	Menus
********************************/

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 $container-padding-mobile;

  &--footer ul,
  &--footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    @include create-mq($md-width) {
      justify-content: space-between;
      flex-direction: row;
  }

    a {
      padding: 0;
      font-size: .875rem; //14
      line-height: 1.5;
    }
  }

  @include create-mq($md-width) {
    padding: 0;
  }

  a {
    display: block;
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;

    @include create-mq($lg-width) {
      position: relative;
    }
  }

  // Sub Nav
  .sub-menu--toggle-contain {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  // HEADER
  header & {
    &>li {
      line-height: 1;
      

      a {
        display: block;
        @include font.largeNav();

        @include create-mq($lg-width) {
          @include font.smallNav();
        }
      }

      &:not(.btn--primary) {
        a {
          color: swatch('LightNeutral');
          display: block;

          @include create-mq($lg-width) {
            padding:  1rem 0;
            color: swatch('Primary');

          }
        }
      }

      &:not(.btn--primary) a:hover {
        opacity: 50%;
      }

      &.is-active,
      &.current-menu-ancestor,
      &.current-menu-item {
        a {
          &:after {
            content: url("data:image/svg+xml,%3Csvg width='88' height='6' viewBox='0 0 88 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M87.6785 5.99984C85.2152 5.82622 82.8725 5.20835 80.2684 4.93771C79.077 4.81516 77.8353 4.7641 76.4981 4.86622C71.0939 5.27984 67.3839 4.99899 67.3839 4.99899C67.3839 4.99899 61.0799 4.68239 59.3908 5.03474C57.7067 5.38708 52.5287 4.79984 49.7135 5.07048C46.9034 5.34623 43.4145 4.91218 42.6253 5.07048C41.841 5.23388 36.2106 5.02452 32.9229 5.09091C29.6351 5.15218 27.4383 5.02452 25.5229 5.09091C23.6076 5.15218 23.497 5.14197 20.5059 5.14197H11.7034C9.02389 5.14197 2.3378 6.42878 0.633603 5.14197C-1.0706 3.85516 1.09107 1.50112 2.02109 1.50112C2.95111 1.50112 4.6905 1.15899 8.73232 0.357289C12.7741 -0.444414 24.8292 0.357289 24.8292 0.357289L34.1847 1.61346C34.1847 1.61346 41.3735 1.73091 48.7986 0.847501C56.2237 -0.0359029 47.1095 0.469629 59.1495 0.847501C71.1894 1.22027 66.3936 0.867927 66.3936 0.867927C66.3936 0.867927 73.1048 0.816863 79.1826 0.867927C79.4792 0.873033 79.7607 0.873033 80.0272 0.87814C83.6417 0.949629 85.9491 0.525799 87.2763 1.22537C88.6034 1.92495 87.6986 5.09091 87.6785 5.99984Z' fill='%239B904E'/%3E%3C/svg%3E%0A");
            width: 100%;
            display: inline-block;
          }
        }

        &>.sub-menu--toggle-contain {
          a {
            text-decoration: underline;
          }
        }

        &.btn--primary {
          a {
            color: swatch('Secondary');
            &:after {
              content : none;
            }
          }
        }
      }

      // &>a,
      // &>.sub-menu--toggle-contain {
      //   body.scrolled & {
      //     padding-bottom: 1rem;
      //   }
      // }
    }


    .menu-item {
      a {
        justify-content: center;
        display: flex;
        gap: 0.5rem;
      }

      .menu-item {
        border-bottom: none;
      }

      &.is-active>.sub-menu {
        display: block;
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      @include create-mq($lg-width) {
        border: none;

        &:hover>.sub-menu {
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .sub-menu {
      border-top: .5px swatch('Primary') solid;
      display: none;
      font-size: 1rem;
      position: relative;
      width: 100%;
      z-index: 10;

      .sub-menu__head {
        border-bottom: 1px solid swatch("Gray");
        padding: 1rem $container-padding-mobile;
        text-align: center;
        position: relative;
        font-size: 1.125rem;

        button {
          position: absolute;
          left: $container-padding-mobile;
          top: .675rem;
          height: 2rem;
          width: 2rem;
        }
      }

      @include create-mq($lg-width) {
        display: none;
        height: auto;
        left: 0;
        min-width: 20rem;
        position: relative;
        top: 100%;

        .sub-menu__head {
          display: none;
        }
      }

      //2nd level
      &>ul {
        padding: .75rem 0;

        &>li {

          &>a,
          &>.sub-menu--toggle-contain {
            padding: .75rem 0;
          }
        }

        .sub-menu {
          border: none;

          ul {
            padding: 0;
          }
        }
      }
    }

    //1st level
    &>li>.sub-menu {
      display: block;

      @include create-mq($lg-width) {
        display: none !important; // remove to allow desktop dropdown
        position: absolute;
        border-bottom: 1px #ddd solid;
        box-shadow: 0px 0.25rem 1.5rem rgba(0, 0, 0, 0.05);
        // border-radius: .5rem;
        overflow: hidden;
        padding: .5rem 0;
      }
    }

    //HEADER: Main
    &--main {
      & {
        @include font.largeNav();
        margin-top: rem(50);
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        li a {
          text-align: center;
        }
        .btn--primary a {
          font-family: $font-stack-primary;
          font-size: 1rem;
          padding: 8px 20px;
        }
      }

      @include create-mq($lg-width) {
        margin-top: 0;
        gap: 4rem;
        flex-direction: row;
        align-items: flex-start;
      }

      @include create-mq($xl-width) {
        font-size: 1rem;
      }

      &>.menu-item {

        &>a,
        &>.sub-menu--toggle-contain {
          @include create-mq($lg-width) {
            font-size: 1rem;
            padding: 1rem 2rem;

            button {
              display: none !important; // remove to allow desktop dropdown
            }
          }
        }

        &>.sub-menu--toggle-contain {
          button {
            display: none !important; // remove to allow desktop dropdown
          }
        }

      }
    }

    //HEADER: Utility
    &--utility {
      font-size: 1rem;

      @include create-mq($lg-width) {
        font-size: 1rem;
        margin: 0 0 0 1.25rem;
        padding: 0 0 0 1.25rem;
        position: relative;

        &::before {
          background: #B3B3B3;
          content: '';
          display: block;
          height: 2rem;
          left: -1px;
          position: absolute;
          top: .625rem;
          transition: top ease-in-out $t-default, height ease-in-out $t-default;
          width: 1px;

          body.scrolled & {
            height: 2.25rem;
            top: .75rem;
          }
        }
      }

      &>.menu-item {

        &>a,
        &>.sub-menu--toggle-contain {
          @include create-mq($lg-width) {
            padding: 1rem;
          }
        }

        @include create-mq($lg-width) {
          &:not(:first-child) {
            position: relative;

            a {
              margin: 0 -2px;
            }
          }
        }
      }
    }
  }
}

/* Mobile Menu Wrapper: Contains the mobile menu functionality */
header .menu-wrapper--main {
  background: swatch('Green');
  display: flex;
  flex-direction: column;
  height: calc(100vh - map.get($menuHeight, 'sm'));
  height: calc(100dvh - map.get($menuHeight, 'sm'));
  justify-content: flex-start;
  right: 0;
  opacity: 0;
  overflow: auto;
  position: absolute;
  top: map.get($menuHeight, 'sm');
  transform: translate(100%, 0);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  width: 100%;


  @include create-mq($lg-width) {
    align-items: center;
    background: none;
    border: unset;
    display: flex !important;
    height: auto;
    left: unset;
    max-height: none;
    max-width: none;
    opacity: 1;
    overflow: unset;
    position: relative;
    right: unset;
    top: 0;
    transform: unset;
    transition: padding ease-in-out $t-default;
    visibility: visible;
    width: auto;
  }

  nav {
    align-items: flex-start;
    flex-direction: column;

    @include create-mq($lg-width) {
      align-items: flex-end;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-left: 6rem;
    }

    div {
      align-items: flex-end;
      width: 100%;

      @include create-mq($lg-width) {
        width: auto;
      }
    }
  }


  body.admin-bar & {
    height: calc(100vh - map.get($menuHeight, 'sm') - map.get($adminHeight, 'sm'));
    height: calc(100dvh - map.get($menuHeight, 'sm') - map.get($adminHeight, 'sm'));

    @include create-mq($admin-width) {
      height: calc(100vh - map.get($menuHeight, 'sm') - map.get($adminHeight, 'lg'));
      height: calc(100dvh - map.get($menuHeight, 'sm') - map.get($adminHeight, 'lg'));
    }

    @include create-mq($lg-width) {
      height: auto;
    }
  }

  body.active--mobileMenu & {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;

    @include create-mq($lg-width) {
      left: unset;
      right: 0;
    }
  }

  body.scrolled & {
    @include create-mq($lg-width) {
      max-height: calc(100vh - map.get($menuHeight, 'scroll'));
      max-height: calc(100dvh - map.get($menuHeight, 'scroll'));
    }
  }

  body.admin-bar.scrolled & {
    max-height: calc(100vh - map.get($menuHeight, 'scroll') - map.get($adminHeight, 'sm'));
    max-height: calc(100dvh - map.get($menuHeight, 'scroll') - map.get($adminHeight, 'sm'));

    @include create-mq($admin-width) {
      max-height: calc(100vh - map.get($menuHeight, 'scroll') - map.get($adminHeight, 'lg'));
      max-height: calc(100dvh - map.get($menuHeight, 'scroll') - map.get($adminHeight, 'lg'));
    }
  }

}


.menu-toggle {
  cursor: pointer;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  width: 36px;

  &.menu-open {
    .menu-toggle__icon {
      background-color: swatch('LightNeutral');
    }
    .menu-toggle__icon:nth-child(1) {
      left: 7px;
      top: -3px;
      transform: rotate(45deg);
    }

    .menu-toggle__icon:nth-child(2) {
      opacity: 0;
      width: 0%;
    }

    .menu-toggle__icon:nth-child(3) {
      left: 7px;
      top: 22px;
      transform: rotate(-45deg);
    }
  }

  &__icon {
    background: swatch('Primary');
    display: block;
    height: 4px;
    border-radius: 2px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    width: 36px;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }

    &:nth-child(2) {
      top: 12px;
      transform-origin: left center;
    }

    &:nth-child(3) {
      top: 24px;
      transform-origin: left center;
    }
  }

  &__label {
    bottom: -10px;
    font-size: 0.7777777778rem;
    position: absolute;
  }
}


.u-darkMode > header {
  .menu-item:not(.btn--primary) a {
    @include create-mq($lg-width) {
      color: swatch('LightNeutral');
    }
  }

  .menu-item:not(.btn--primary) a:hover {
    @include create-mq($lg-width) {
      color: swatch('LightGreen');
    }
  }

  .menu-toggle {
    &__icon {
      background-color: swatch('LightNeutral');
    }
  }
}

#menu-toggle {
  background-color: transparent;
}

.home .home-link {
  display: none;
}