@use '../../../assets/src/sass/abstracts' as *;

/******************************
    BLOCK: Content Stacks
******************************/
.menu {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    justify-content: space-between;
    &__section {
        flex-basis: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        @include create-mq($md-width) {
            flex-basis: 46%;
        }
    }

    &__item {
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            h4 {
                display: inline-block;
                margin-bottom: 0;
                margin-right: 12px;
            }

            svg{
                width: auto;
            }
        }
    }
}

@include create-mq($md-width) {
    .menu {
        flex-wrap: wrap;
    }
}